@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&family=Roboto:wght@300;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}
.bodyO {
  background-color: #44484f;
}

.encabezado {
  display: none;
}

.encabezadoO {
  display: none;
}

.encabezadoMobile {
  background: linear-gradient(to top, #a9cbe2 0%, #1ac2e0 78%, #1ac2e0 100%);
}

.encabezadoMobileO {
  background: linear-gradient(to top, #8a9ca8 0%, #4abcd0 78%, #107a8d 100%);
}

.encabezadoMobile h1 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
  padding: 30px;
}

.encabezadoMobileO h1 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000000;
  text-shadow: 2px 2px 4px #ffffff;
  text-align: center;
  padding: 30px;
}

.menu_meme {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px 0;
}

.menu_meme li {
  display: flex;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 0.9rem;
  background: linear-gradient(to top, #a9cbe2 0%, #1ac2e0 78%, #1ac2e0 100%);
  color: #fff;
  padding: 7px;
  margin: 0 5px;
  border-radius: 20px;
  border: #0098b3 1px solid;
  text-shadow: 1px 1px 3px #000;
}

.menu_meme img {
  width: 20px;
  height: 20px;
}

.menu_meme span {
  padding-left: 5px;
  margin-right: 5px;
}

#modo_claroM {
  display: none;
}

.contenedor_general {
  margin-bottom: 50px;
}

.contenedor_img_texto {
  position: relative;
  width: 100%;
}
.box_meme {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

.box_texto {
  background-color: #ceedfa;
  z-index: 2;
}

.box_texto p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 18px;
}

.imagen_meme {
  width: 100%;
  height: 400px;
  background-color: #e1e1e1;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}
.contenedor_texto {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn_descargar {
  display: flex;
  justify-content: center;
}

.btn_descargar button {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 0.9rem;
  background: linear-gradient(to top, #a9cbe2 0%, #1ac2e0 78%, #1ac2e0 100%);
  color: #fff;
  padding: 7px;
  margin: 0 5px;
  border-radius: 20px;
  border: #0098b3 1px solid;
  text-shadow: 1px 1px 3px #000;
  margin-top: 30px;
}

.aside_imagen {
  padding: 30px;
  margin: auto;
  width: 80%;
  background: linear-gradient(to right, #a9cbe2 0%, #1ac2e0 78%, #1ac2e0 100%);
}

.aside_imagenO {
  padding: 30px;
  margin: auto;
  width: 80%;
  background: linear-gradient(to top, #8a9ca8 0%, #4abcd0 78%, #107a8d 100%);
}

.aside_imagen h2 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.aside_imagenO h2 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #000000;
  text-align: center;
  text-shadow: 1px 1px 3px #ffffff;
}

.aside_imagen h3 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.aside_imagenO h3 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  color: #000000;
  text-shadow: 1px 1px 2px #ffffff;
}

.url_container {
  display: flex;
}

.url_container h3 {
  margin: 8px 0;
}

.campo_url {
  width: 100%;
  padding: 8px 0;
}

.campo_url input {
  width: 100%;
}

.botones_fondo {
  display: flex;
  padding: 10px 0;
}

.contenedor_fondo_color {
  width: 50%;
  background-color: #ecf1f2;
  border-radius: 10px;
  padding-top: 3px;
  padding-left: 7px;
}

.contenedor_fondo_desplegable {
  width: 50%;
}

.btn_fondo_desplegable {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #ecf1f2;
  border-color: #1ac2e0;
}

.aside_imagen_filtros {
  display: flex;
  flex-direction: column;
}
.aside_imagen_filtros label {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  padding-top: 15px;
  font-size: 1.1rem;
}

.btn_reestablecer_img {
  background-color: #0098b3;
  border-radius: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-family: "Quattrocento Sans", sans-serif;
  padding: 8px;
  font-size: 0.9rem;
  margin-top: 20px;
}
.aside_texto {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  background: linear-gradient(to right, #a9cbe2 0%, #1ac2e0 78%, #1ac2e0 100%);
}

.aside_textoO {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  background: linear-gradient(to top, #8a9ca8 0%, #4abcd0 78%, #107a8d 100%);
}
.aside_texto form {
  width: 80%;
}
.aside_textoO form {
  width: 80%;
}
#aside_texto {
  display: none;
}
#aside_textoO {
  display: none;
}

.aside_texto form {
  width: 100%;
  padding: 30px;
}
.aside_textoO form {
  width: 100%;
  padding: 30px;
}

.texto_meme {
  display: flex;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  background-color: #ecf1f2;
  margin-bottom: 5px;
}
.fuentes_desplegables {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #ecf1f2;
  border-color: #1ac2e0;
  margin-bottom: 5px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
}
.tamano_alineacion {
  display: flex;
}

.btn_number_fuente {
  width: 45%;
  margin-right: 5px;
}

.btn_number_fuente input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #ecf1f2;
  border-color: #1ac2e0;
  margin-top: 3px;
}

.btn_alineacion img {
  width: 30px;
  height: 25px;
}

.btn_color_fondo_txt {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.aside_texto h2 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.aside_textoO h2 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #000000;
  text-align: center;
  text-shadow: 1px 1px 3px #ffffff;
}

.aside_texto h3 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  padding: 15px 0 5px 0;
}

.aside_textoO h3 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  color: #000000;
  text-shadow: 1px 1px 2px #ffffff;
  padding: 15px 0 5px 0;
}

.color_checkbox {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.txt_fondo_color {
  background-color: #ecf1f2;
  border-radius: 10px;
  padding-top: 3px;
  padding-left: 7px;
}

.txt_fondo_color span {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 0.8rem;
  padding-left: 5px;
}

.btn_color_fondo_txt div {
  width: 100%;
}

.color_fondo_texto {
  display: flex;
}

.btn_text_color {
  width: 30%;
  background-color: #ecf1f2;
  border: none;
}

.btn_contorno {
  display: flex;
  gap: 2px;
}
.btn_contorno button {
  background-color: #0098b3;
  border-radius: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-family: "Quattrocento Sans", sans-serif;
  padding: 5px;
  font-size: 0.7rem;
}

.btn_espaciado {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #ecf1f2;
  border-color: #1ac2e0;
}

.btn_interlineado {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #ecf1f2;
  border-color: #1ac2e0;
}
@media (min-width: 768px) {
  .encabezadoMobile {
    display: none;
  }
  .encabezado {
    display: block;
    background: linear-gradient(to top, #a9cbe2 0%, #1ac2e0 78%, #1ac2e0 100%);
  }

  .encabezadoO {
    display: block;
    background: linear-gradient(to top, #8a9ca8 0%, #4abcd0 78%, #107a8d 100%);
  }

  #modo_claro {
    display: none;
  }
  .encabezado h1 {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    padding: 30px;
  }

  .encabezadoO h1 {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #000000;
    text-shadow: 2px 2px 4px #fff9f9;
    text-align: center;
    padding: 30px;
  }

  .OcultarMenuM {
    display: none;
  }
  .menu_meme {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 40px;
  }

  .menu_meme li {
    display: flex;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    padding: 7px;
    margin: 0 5px;
  }

  .menu_meme li:hover {
    transition: background-color 0.5s;
    background-color: #0098b3;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
  }

  .menu_meme img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  #modo_claro {
    display: none;
  }

  /*panel imagen*/

  .contenedor_general {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .aside_imagen {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100vh;
    background: linear-gradient(
      to right,
      #a9cbe2 0%,
      #1ac2e0 78%,
      #1ac2e0 100%
    );
  }

  .aside_imagenO {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to top, #8a9ca8 0%, #4abcd0 78%, #107a8d 100%);
  }

  .aside_imagen h2 {
    padding: 50px 0 20px 0;
  }

  .aside_imagenO h2 {
    padding: 50px 0 20px 0;
  }

  .aside_imagen form {
    width: 100%;
    padding: 0 20px;
  }

  .aside_imagenO form {
    width: 100%;
    padding: 0 20px;
  }

  .aside_imagen_filtros {
    display: flex;
    flex-direction: column;
  }

  .url_container {
    display: block;
  }
  .url_container h3 {
    margin: 0;
  }
  .campo_url {
    padding: 10px 0;
  }

  .campo_url input {
    width: 100%;
    height: 25px;
    border-radius: 10px;
    background-color: #ecf1f2;
  }

  .btn_fondo_color {
    width: 30%;
  }
  .contenedor_fondo_color span {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 0.8rem;
  }

  .btn_reestablecer_img {
    background-color: #0098b3;
    border-radius: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-family: "Quattrocento Sans", sans-serif;
    padding: 8px;
    font-size: 0.9rem;
    margin-top: 20px;
  }

  .btn_reestablecer_img:hover {
    transition: background-color 0.3s;
    background-color: #0088a0;
  }

  /*panel texto*/

  .aside_texto {
    width: 250px;
    height: 100vh;
    margin: 0;
  }

  .aside_textoO {
    width: 250px;
    height: 100vh;
    margin: 0;
  }

  .aside_texto form {
    width: 100%;
    padding: 0 20px;
  }

  .aside_textoO form {
    width: 100%;
    padding: 0 20px;
  }

  .btn_contorno button:hover {
    transition: background-color 0.3s;
    background-color: #0088a0;
  }

  .aside_texto h2 {
    padding: 50px 0 20px 0;
  }

  .aside_textoO h2 {
    padding: 50px 0 20px 0;
  }

  /*caja meme*/

  .box_meme {
    margin-top: 180px;
    max-width: 700px;
  }
  .btn_descargar button {
    background-color: #0098b3;
    border-radius: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-family: "Quattrocento Sans", sans-serif;
    padding: 5px;
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .imagen_meme {
    height: 600px;
    background-color: #e1e1e1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
  }
  .contenedor_texto {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
  }
  .box_texto {
    padding: 10px;
    background-color: #ceedfa;
    z-index: 2;
  }

  .box_texto p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    padding: 18px;
  }

  .btn_descargar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .box_meme_shadow {
    box-shadow: 2px 2px 4px #706d6d;
  }
}
